table {
  width: 100%;
}

table, th, td {
  border: 1px solid lightgray;
  border-collapse: collapse;
  text-align: left;
}

.status-div {
  display:none; user-select: none; background: red; height: 37px; width: 100%; color: white
}

.close-btn {
  font-size: 30px; margin-left: 10px; cursor: pointer
}

.alert-span{
  font-size: 30px; margin-left: 10px
}