table {
  width: 100%;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table,
th,
td {
  border: 1px solid lightgray;
  border-collapse: collapse;
  text-align: left;
  padding: 5px;
}

.status-div {
  display: none;
  user-select: none;
  background: red;
  height: 40px;
  width: 100%;
  color: white
}

.close-btn {
  font-size: 30px;
  margin-left: 10px;
  cursor: pointer
}

.alert-span {
  font-size: 30px;
  margin-left: 10px
}

.total-sale {
  font-size: 50px;
  color: #0D81C9;
}